<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"        
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>

<nav class=" container-fluid" >
    <ul>
        <li><strong>Acme Corp</strong></li>
    </ul>
    <ul>
        <li> <button class="primary">Recettes</button </li>
        <li> <button class="primary">Catégories</button ></li>
    </ul>
</nav>

<main class="container-fluid ">
    {% block body %}
    {% endblock %}
</main>

</body>
</html>
