{% extends 'base.html.twig' %}


{% block body %}
<div class="container-fluid">
<table class="striped" >
  <thead>
    <tr>
      <th scope="col">Nom </th>
    </tr>
  </thead>
  <tbody>
    {% for categorie in categories %}
    <tr>
        <td>
            <p>{{ categorie.name }}</p>
        </td>
        <td>
        <div  role="group" >
           <a role="button" href="{{ url('categorie.edit', {id: categorie.id} )}}"> Editer </a> 
           <a role="button" class="secondary" href="{{ url('categorie.delete', {id:categorie.id}) }}"> Supprimer </a> 
        </div> 
        </td>
    </tr>
    {% endfor %}
    </tbody>

</table>
</div>
{% endblock %}
